* {
  font-family: "Open Sans", serif;
}

html, body, main {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f3f3f3;
}

nav {
  width: 250px;
  height: 100%;
  position: absolute;
  transform: translate(-250px, 0);
  transition: transform 0.3s ease;
  background-color: #2b3a40;
}
nav.open {
  transform: translate(0, 0);
}

@media screen and (min-width: 600px) {
  nav {
    position: relative;
    transform: translate(0, 0);
  }
  body {
    display: flex;
    flex-flow: row nowrap;
  }
  main {
    width: auto;
    flex-grow: 1;
  }
}

/*@media (min-width: 768px) {
  nav {
    position: fixed;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    height: 100%;
    padding: 0;
  }
}*/

nav .logo {
  background-color: #222d32;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 35px;
  text-transform: uppercase;
}
nav .logo img {
  margin-bottom: 10px;
}
nav .logo h3 {
  font-size: 14px;
  margin: 0 10px;
  text-align: left;
  font-weight: bold;
}
nav .logo .subtitle {
  font-size: 10px;
  text-align: left;
  margin: 0 10px;
}

/* Sidebar navigation */
.nav-sidebar > li > a {
  padding: 15px 20px;
  transition: 0.2s all;
  color: white;
  border-left: 5px;
}
.nav-sidebar > li > a > i {
    width: 25px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar > li > a:hover {
  background-color: #222d32;
  border-left: 5px solid #bf2b23;
}


.top_nav {
  background-color: #fbfbfb;
  height: 78px;
}
.top_nav .user_name {
  color: #2b3a40;
}